* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  background-color: #1f2937;
  justify-content: space-between;
  padding: 16px 300px;
}

.header img {
  color: white;
  width: 30px;
  height: 30px;
}

.header ul {
  display: flex;
  list-style: none;
  gap: 16px;
}

.header ul li {
  color: white;
  cursor: pointer;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content .section-1 {
  flex: 1;
  background-color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 16px 300px;
}

.content .section-1 .side-container {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.content .section-1 .image-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 150px;
  color: white;
  border-radius: 10px;
  background-color: gray;
}

.content .section-1 .side-container .title {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder;
}

.content .section-1 .side-container .description {
  color: #e5e7eb;
  font-size: 18px;
}

.content .section-1 .side-container button {
  background: #3882f6;
  padding: 8px;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: bold;
  width: 100px;
  cursor: pointer;
  border: 1px solid white;
}

.content .section-2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 32px;
}

.content .section-2 .title {
  font-weight: bold;
  font-size: 24px;
}

.content .section-2 .card-container {
  display: flex;
  gap: 32px;
}

.content .section-2 .card-container .card-container-item {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-container {
  width: 100px;
  height: 100px;
  border: 2px solid blue;
  border-radius: 10px;
}

.box-description {
  font-size: 12px;
  text-align: center;
}

.content .section-3 {
  flex: 1;
  background-color: rgba(128, 128, 128, 0.466);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.content .section-3 .quote {
  font-size: 30px;
}

.content .section-4 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.content .section-4 .section-4-container {
  display: flex;
  background-color: rgba(0, 0, 255, 0.692);
  height: 50px;
  width: 600px;
  padding: 50px;
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
}

.content .section-4 .section-4-container .container .description-1 {
  color: white;
  font-weight: bold;
}

.content .section-4 .section-4-container .container .description-2 {
  font-style: italic;
  color: rgba(255, 255, 255, 0.486);
}

.content .section-4 .section-4-container button {
  background-color: rgba(0, 0, 255, 0.692);
  border: 2px solid white;
  border-radius: 10px;
  height: 35px;
  width: 100px;
  color: white;
  cursor: pointer;
}

.footer {
  display: flex;
  background-color: #1f2937;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 16px;
}
